@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Assembly.3D</h1>
    <p>Assembly 3D allows users to manage their 3D Printing tasks.</p>
</div>
