@model IEnumerable<Assembly_3D.Models.PartsModel>

<p>
    <a asp-controller="" asp-action="Upload">Upload File</a>
    
</p>

<div class="container d-flex flex-wrap">
    
    @foreach (var item in Model)
    {
    <div class="card" style="width: 18rem;">

        <img class="card-img-top" src="..." alt="Card Image cap">
        <div class="card-body">
            <h5 class="card-title">@item.Name</h5>
            <p class="card-text">@item.Description</p>
           
            <a href="#" class="btn btn-primary">Details</a>
        </div>

    </div>
    }
</div>