@model Assembly_3D.Models.UserModel


<style>
    h1, table,td{
        text-align: center;
    }
  
</style>
<div>
    <h1>Assembly.3D</h1>

    <div class="mainpage">
       
            <div class="card" style="width: 12rem;">
                <img class="card-img-top" src="https://image.flaticon.com/icons/png/512/1087/1087927.png" alt="Project">
                <div class="card-body">
                    <h5 class="card-title">Project</h5>
                    <p class="card-text">Upload and manage your files.</p>
                    <a href="#" class="btn btn-primary">Project</a>
                </div>
            </div>
            <div class="card" style="width: 12rem;">
                <img class="card-img-top" src="https://image.flaticon.com/icons/png/512/3994/3994797.png" alt="Slicer">
                <div class="card-body">
                    <h5 class="card-title">Slicer</h5>
                    <p class="card-text">Slice your 3D obj files to stl files for your printer.</p>
                    <a href="#" class="btn btn-primary">Slice</a>
                </div>
            </div>
            <div class="card" style="width: 12rem;">
                <img class="card-img-top" src="https://image.flaticon.com/icons/png/512/4729/4729550.png" alt="Printer">
                <div class="card-body">
                    <h5 class="card-title">Printer</h5>
                    <p class="card-text">Monitor the printing process.</p>
                    <a href="#" class="btn btn-primary">Print</a>
                </div>
            </div>
        </div>

</div>
<footer>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</footer>
