@model Assembly_3D.Models.UserModel


<style>
    h1, table,td{
        text-align: center;
    }
  
</style>
<div>
    <h1>Welcome to Assembly.3D!</h1>

    
    <div class="container d-flex flex-wrap">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../Views/Images/testing.png" alt="Project">
            <div class="card-body">
                <h5 class="card-title">Project</h5>
                <p class="card-text">Upload and manage your files.</p>
                <a href="#" class="btn btn-primary">Project</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../Views/Images/slicer.png" alt="Slicer">
            <div class="card-body">
                <h5 class="card-title">Slicer</h5>
                <p class="card-text">Slice your 3D obj files to stl files for your printer.</p>
                <a href="#" class="btn btn-primary">Slice</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../Views/Images/3d-printer.png" alt="Printer">
            <div class="card-body">
                <h5 class="card-title">Printer</h5>
                <p class="card-text">Monitor the printing process.</p>
                <a href="#" class="btn btn-primary">Print</a>
            </div>
        </div>
    </div>

</div>
<footer>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</footer>
